body {
  background-color: rgb(243, 246, 249);
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.playcard .circular-image {
  width: 150px;
  /* Adjust the width and height as needed */
  height: 150px;
  border-radius: 50%;
  padding: 2px;
  position: relative;
  background-color: rgb(35, 108, 218);
  margin: 0 auto;
  overflow: hidden;
}

.circular-image img {
  width: 100%;
  /* Make the image fill the container */
  height: 100%;
  /* Maintain the aspect ratio of the image */
  border-radius: 50%;
  border: 3px solid #fff;
  object-fit: cover;
  
}

.playcard {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
  max-width: 370px;
  width: 100%;
  border-radius: 24px;
  background-color: rgb(232, 226, 226);
  position: relative;
}

.playcard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 36%;
  width: 100%;
  background-color: rgb(35, 108, 218);
  border-radius: 24px 24px 0 0;
}

.playcard .text {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text .name {
  font-style: bold;
  font-weight: bold;
}
.text .job {
  font-size: medium;
}

.media-buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}

.media-buttons .link {
  border-spacing: 5px;
  border-radius: 50%;
  padding: 5px;
  object-fit: cover;
  display: inline;
  margin: 5px;
  color: white;
}

.subsmsg {
  display: flex;
  justify-content: center;
}

.btn-msg {
  color: rgb(246, 240, 240);
  border-radius: 15px;
  background-color: rgb(66, 140, 224);
  align-items: center;
  margin: 5px;
}
.btn-msg:hover {
  background-color: rgb(
    35,
    108,
    218
  ); /* Change the background color on hover */
}
